.choiceData {
  label {
    display: grid;
  }

  position: relative;
  width: min(31.25rem, 100%);

  span {
    color: var(--secondary-text-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 142.8%;
    margin-bottom: 0.25rem;
  }

  select {
    color: var(--secondary-text-color);
    font-size: 0.875rem;
    font-family: var(--rubik-font);

    padding: 0.875rem 1.5rem;
    border: 1px solid #e3e8ee;

    &:focus {
      outline: none;
    }

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  &_icon {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;

    position: absolute;
    right: 0.75rem;
    bottom: 0.3125rem;
    z-index: 2;

    svg {
      width: 100%;
      aspect-ratio: 1;
    }
  }
}
