.title {
  color: #000;
  font-family: var(--karla-font);
  font-size: 24px;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 6px;
  text-transform: uppercase;

  margin-bottom: 5rem;

  text-align: center;
}
