.link {
  color: var(--main-text-color);
  font-size: 0.875rem;

  padding: 0.875rem 4.1875rem;

  border: 1px solid var(--main-border-color);

  transition: all 0.3s;

  &.active {
    background-color: var(--active-link-bg);
  }
}
